* text=auto !eol
/.checkstyle -text
/.classpath -text
/.project -text
.settings/org.eclipse.core.resources.prefs -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.jdt.launching.prefs -text
.settings/org.eclipse.jdt.ui.prefs -text
.settings/org.eclipse.ltk.core.refactoring.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.maven.ide.eclipse.prefs -text
/TODO -text
distro/CHANGELOG -text
distro/INSTALL -text
distro/LICENSE -text
distro/MAINTAINERS -text
distro/README -text
distro/changelog.xml -text
distro/descriptor.xml -text
distro/profile.xml -text
distro/svnpath.txt -text
examples/org/gcube/portlets/user/homelibrary/examples/BasketBulkCreatorExample.java -text
examples/org/gcube/portlets/user/homelibrary/examples/CloneWorkspaceItems.java -text
examples/org/gcube/portlets/user/homelibrary/examples/CreateAGPodLinkIntoDefaultBasket.java -text
examples/org/gcube/portlets/user/homelibrary/examples/CreateAnExternalFile.java -text
examples/org/gcube/portlets/user/homelibrary/examples/CreateAnExternalUrl.java -text
examples/org/gcube/portlets/user/homelibrary/examples/CreateAnExternalUrlIntoDefaultBasket.java -text
examples/org/gcube/portlets/user/homelibrary/examples/CreateAnUniqueItemName.java -text
examples/org/gcube/portlets/user/homelibrary/examples/CreateAndFillWorkspace.java -text
examples/org/gcube/portlets/user/homelibrary/examples/CreateDataFolder.java -text
examples/org/gcube/portlets/user/homelibrary/examples/ExamplesUtil.java -text
examples/org/gcube/portlets/user/homelibrary/examples/HomeManagerListAllUsersContent.java -text
examples/org/gcube/portlets/user/homelibrary/examples/ImportExportFolder.java -text
examples/org/gcube/portlets/user/homelibrary/examples/MoveWorkspaceItem.java -text
examples/org/gcube/portlets/user/homelibrary/examples/VisitDataFolder.java -text
examples/org/gcube/portlets/user/homelibrary/examples/VisitHomeLibrary.java -text
examples/org/gcube/portlets/user/homelibrary/examples/WorkspaceAreaListeningExample.java -text
examples/org/gcube/portlets/user/homelibrary/examples/ZipWorkspaceFolder.java -text
/pom.xml -text
src/main/java/org/gcube/common/homelibrary/home/Home.java -text
src/main/java/org/gcube/common/homelibrary/home/HomeLibrary.java -text
src/main/java/org/gcube/common/homelibrary/home/HomeManager.java -text
src/main/java/org/gcube/common/homelibrary/home/HomeManagerFactory.java -text
src/main/java/org/gcube/common/homelibrary/home/User.java -text
src/main/java/org/gcube/common/homelibrary/home/data/ApplicationsArea.java -text
src/main/java/org/gcube/common/homelibrary/home/data/application/ApplicationData.java -text
src/main/java/org/gcube/common/homelibrary/home/data/application/ApplicationDataArea.java -text
src/main/java/org/gcube/common/homelibrary/home/data/application/ApplicationDataNotFoundException.java -text
src/main/java/org/gcube/common/homelibrary/home/data/application/ApplicationDataType.java -text
src/main/java/org/gcube/common/homelibrary/home/data/application/ApplicationList.java -text
src/main/java/org/gcube/common/homelibrary/home/data/application/ApplicationMap.java -text
src/main/java/org/gcube/common/homelibrary/home/data/exceptions/FileAlreadyExistException.java -text
src/main/java/org/gcube/common/homelibrary/home/data/exceptions/FolderAlreadyExistException.java -text
src/main/java/org/gcube/common/homelibrary/home/data/exceptions/FolderNotFoundException.java -text
src/main/java/org/gcube/common/homelibrary/home/exceptions/HomeNotFoundException.java -text
src/main/java/org/gcube/common/homelibrary/home/exceptions/InternalErrorException.java -text
src/main/java/org/gcube/common/homelibrary/home/exceptions/ScopeNotFoundException.java -text
src/main/java/org/gcube/common/homelibrary/home/exceptions/UserNotFoundException.java -text
src/main/java/org/gcube/common/homelibrary/home/manager/ContentCopyMode.java -text
src/main/java/org/gcube/common/homelibrary/home/manager/HomeLibraryManager.java -text
src/main/java/org/gcube/common/homelibrary/home/task/Task.java -text
src/main/java/org/gcube/common/homelibrary/home/task/TaskProgress.java -text
src/main/java/org/gcube/common/homelibrary/home/task/TaskResult.java -text
src/main/java/org/gcube/common/homelibrary/home/task/TaskState.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/ExternalResourceLinkPlugin.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/Properties.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/Workspace.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/WorkspaceFolder.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/WorkspaceItem.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/WorkspaceItemAction.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/WorkspaceItemType.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/WorkspaceSharedFolder.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/WorkspaceSmartFolder.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accessmanager/ACLType.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accessmanager/AccessManager.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accounting/AccountingEntry.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accounting/AccountingEntryAdd.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accounting/AccountingEntryCreate.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accounting/AccountingEntryCut.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accounting/AccountingEntryPaste.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accounting/AccountingEntryRead.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accounting/AccountingEntryRemoval.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accounting/AccountingEntryRenaming.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accounting/AccountingEntryShare.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accounting/AccountingEntryType.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accounting/AccountingEntryUnshare.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/accounting/AccountingEntryUpdate.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/acl/Capabilities.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/acl/Capability.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/acl/Operation.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/events/AbstractWorkspaceEventSource.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/events/WorkspaceEvent.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/events/WorkspaceEventImpl.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/events/WorkspaceEventSource.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/events/WorkspaceEventType.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/events/WorkspaceListener.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/events/WorkspaceSentEvent.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/events/WorkspaceSentEventImpl.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/events/filter/WorkspaceEventFilter.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/events/filter/WorkspaceEventFilterByParentId.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/events/filter/WorkspaceEventFilterByTargetId.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/events/filter/WorkspaceEventFilterCriteria.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/exceptions/ExternalResourceBrokenLinkException.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/exceptions/ExternalResourcePluginNotFoundException.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/exceptions/InsufficientPrivilegesException.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/exceptions/ItemAlreadyExistException.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/exceptions/ItemNotFoundException.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/exceptions/ServiceConnectionRefusedException.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/exceptions/WorkspaceException.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/exceptions/WorkspaceFolderAlreadyExistException.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/exceptions/WorkspaceFolderNotFoundException.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/exceptions/WrongDestinationException.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/exceptions/WrongItemTypeException.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/exceptions/WrongParentTypeException.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/FolderBulkCreator.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/FolderBulkCreatorManager.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/FolderItem.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/FolderItemType.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/AquaMapsItem.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/ExternalFile.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/ExternalImage.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/ExternalPDFFile.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/ExternalResourceLink.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/ExternalUrl.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/File.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/GCubeItem.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/Image.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/PDF.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/Query.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/QueryType.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/Report.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/ReportTemplate.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/TabularDataLink.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/Url.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/WorkflowReport.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/WorkflowTemplate.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/Annotation.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/Document.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/DocumentMetadata.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/ImageDocument.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/InfoObject.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/Metadata.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/PDFDocument.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/UrlDocument.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/link/DocumentAlternativeLink.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/link/DocumentLink.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/link/DocumentPartLink.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/link/ImageDocumentLink.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/link/InfoObjectLink.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/gcube/link/PDFDocumentLink.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/ts/TimeSeries.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/folder/items/ts/TimeSeriesInfo.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/privilegemanager/PrivilegeManager.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/search/SearchFolder.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/search/SearchFolderItem.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/search/SearchItem.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/search/SearchItemByOperator.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/sharing/WorkspaceMessage.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/sharing/WorkspaceMessageManager.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/trash/WorkspaceTrashFolder.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/trash/WorkspaceTrashItem.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/usermanager/GCubeGroup.java -text
src/main/java/org/gcube/common/homelibrary/home/workspace/usermanager/UserManager.java -text
src/main/java/org/gcube/common/homelibrary/util/Extensions.java -text
src/main/java/org/gcube/common/homelibrary/util/FileSystemNameUtil.java -text
src/main/java/org/gcube/common/homelibrary/util/HomeFolderVisitor.java -text
src/main/java/org/gcube/common/homelibrary/util/HomeLibraryVisitor.java -text
src/main/java/org/gcube/common/homelibrary/util/IndentedVisitor.java -text
src/main/java/org/gcube/common/homelibrary/util/MimeTypeUtil.java -text
src/main/java/org/gcube/common/homelibrary/util/ScopeHomesComparator.java -text
src/main/java/org/gcube/common/homelibrary/util/Util.java -text
src/main/java/org/gcube/common/homelibrary/util/WorkspaceTreeVisitor.java -text
src/main/java/org/gcube/common/homelibrary/util/WorkspaceTypes.java -text
src/main/java/org/gcube/common/homelibrary/util/WorkspaceUtil.java -text
src/main/java/org/gcube/common/homelibrary/util/config/HomeLibraryConfiguration.java -text
src/main/java/org/gcube/common/homelibrary/util/config/easyconf/AggregatedProperties.java -text
src/main/java/org/gcube/common/homelibrary/util/config/easyconf/ClasspathUtil.java -text
src/main/java/org/gcube/common/homelibrary/util/config/easyconf/ComponentConfiguration.java -text
src/main/java/org/gcube/common/homelibrary/util/config/easyconf/ComponentProperties.java -text
src/main/java/org/gcube/common/homelibrary/util/config/easyconf/ConfigurationException.java -text
src/main/java/org/gcube/common/homelibrary/util/config/easyconf/ConfigurationLoader.java -text
src/main/java/org/gcube/common/homelibrary/util/config/easyconf/ConfigurationNotFoundException.java -text
src/main/java/org/gcube/common/homelibrary/util/config/easyconf/Conventions.java -text
src/main/java/org/gcube/common/homelibrary/util/config/easyconf/DatasourceURL.java -text
src/main/java/org/gcube/common/homelibrary/util/config/easyconf/EasyConf.java -text
src/main/java/org/gcube/common/homelibrary/util/config/easyconf/FileConfigurationChangedReloadingStrategy.java -text
src/main/java/org/gcube/common/homelibrary/util/config/easyconf/Filter.java -text
src/main/java/org/gcube/common/homelibrary/util/config/easyconf/JndiURL.java -text
src/main/java/org/gcube/common/homelibrary/util/encryption/EncryptionUtil.java -text
src/main/java/org/gcube/common/homelibrary/util/zip/ExtractAllFiles.java -text
src/main/java/org/gcube/common/homelibrary/util/zip/UnzipUtil.java -text
src/main/java/org/gcube/common/homelibrary/util/zip/WorkspaceToZipModelConverter.java -text
src/main/java/org/gcube/common/homelibrary/util/zip/ZipFileModelExtractor.java -text
src/main/java/org/gcube/common/homelibrary/util/zip/ZipModelToWorkspaceCreator.java -text
src/main/java/org/gcube/common/homelibrary/util/zip/ZipModelVisitor.java -text
src/main/java/org/gcube/common/homelibrary/util/zip/ZipModelWriter.java -text
src/main/java/org/gcube/common/homelibrary/util/zip/ZipUtil.java -text
src/main/java/org/gcube/common/homelibrary/util/zip/zipmodel/AbstractZipItem.java -text
src/main/java/org/gcube/common/homelibrary/util/zip/zipmodel/ZipFile.java -text
src/main/java/org/gcube/common/homelibrary/util/zip/zipmodel/ZipFolder.java -text
src/main/java/org/gcube/common/homelibrary/util/zip/zipmodel/ZipItem.java -text
src/main/java/org/gcube/common/homelibrary/util/zip/zipmodel/ZipItemType.java -text
src/main/resources/ExtensionToMimeTypeMap.properties -text
src/main/resources/MimeTypeToExtensionMap.properties -text
src/main/resources/homelibrary.properties -text
src/test/java/org/gcube/common/homelibrary/GenericTest.java -text
src/test/java/org/gcube/common/homelibrary/consistency/CheckException.java -text
src/test/java/org/gcube/common/homelibrary/consistency/CheckerUtil.java -text
src/test/java/org/gcube/common/homelibrary/consistency/HomeLibraryConsistencyChecker.java -text
src/test/java/org/gcube/common/homelibrary/consistency/HomeManagerFactoryConsistencyChecker.java -text
src/test/java/org/gcube/common/homelibrary/consistency/WorkspaceConsistencyChecker.java -text
src/test/java/org/gcube/common/homelibrary/consistency/processor/AbstractProcessor.java -text
src/test/java/org/gcube/common/homelibrary/consistency/processor/HomeLibraryProcessor.java -text
src/test/java/org/gcube/common/homelibrary/consistency/processor/HomeManagerFactoryProcessor.java -text
src/test/java/org/gcube/common/homelibrary/consistency/processor/HomeManagerProcessor.java -text
src/test/java/org/gcube/common/homelibrary/consistency/processor/HomeProcessor.java -text
src/test/java/org/gcube/common/homelibrary/consistency/processor/Processor.java -text
src/test/java/org/gcube/common/homelibrary/consistency/processor/WorkspaceProcessor.java -text
src/test/java/org/gcube/common/homelibrary/consistency/statistics/CheckStatistics.java -text
src/test/java/org/gcube/common/homelibrary/consistency/statistics/HomeCheckStatistics.java -text
src/test/java/org/gcube/common/homelibrary/consistency/statistics/WorkspaceCheckStatistics.java -text
src/test/java/org/gcube/common/homelibrary/examples/CloneWorkspaceItems.java -text
src/test/java/org/gcube/common/homelibrary/examples/CreateAnExternalFile.java -text
src/test/java/org/gcube/common/homelibrary/examples/CreateAnExternalUrl.java -text
src/test/java/org/gcube/common/homelibrary/examples/CreateAnUniqueItemName.java -text
src/test/java/org/gcube/common/homelibrary/examples/CreateAndFillFolder.java -text
src/test/java/org/gcube/common/homelibrary/examples/CreateDataFolder.java -text
src/test/java/org/gcube/common/homelibrary/examples/ExamplesUtil.java -text
src/test/java/org/gcube/common/homelibrary/examples/FolderBulkCreatorExample.java -text
src/test/java/org/gcube/common/homelibrary/examples/HomeManagerListAllUsersContent.java -text
src/test/java/org/gcube/common/homelibrary/examples/ImportExportFolder.java -text
src/test/java/org/gcube/common/homelibrary/examples/MoveWorkspaceItem.java -text
src/test/java/org/gcube/common/homelibrary/examples/VisitDataFolder.java -text
src/test/java/org/gcube/common/homelibrary/examples/VisitHomeLibrary.java -text
src/test/java/org/gcube/common/homelibrary/examples/WorkspaceListeningExample.java -text
src/test/java/org/gcube/common/homelibrary/examples/ZipWorkspaceFolder.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/EasyConfTTest.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/Info.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/ListUserWorkspaceContents.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/ListWorkspaceContents.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/ProductionCopyHomes.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestAquaMapsItemCreation.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestCompareHomes.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestCompareScopeHomes.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestCopyHomes.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestDataArea.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestEncryptionUtil.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestFindExists.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestFolderBulkCreator.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestHomeLibraryConf.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestHomeLibraryLoggingPortal.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestItemFileCreation.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestPDFCreation.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestQueryCreation.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestReadingWorkspace.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestRemoveScope.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestReportCreation.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestReportTemplateCreation.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestSentItem.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestTimeSeriesCreation.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestUnzip.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestVisitHomeLibrary.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestWorkflowData.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TestZipUtil.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/TimeSeriesCreator.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/versionupdate/CreateCompleteWorkspace.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/versionupdate/DeleteScope.java -text
src/test/java/org/gcube/common/homelibrary/internaltest/versionupdate/TestReadingWorkspace.java -text
src/test/java/org/gcube/common/homelibrary/performance/tool/MeasurementCSVGenerator.java -text
src/test/java/org/gcube/common/homelibrary/performance/tool/MeasurementChannel.java -text
src/test/java/org/gcube/common/homelibrary/performance/tool/MeasurementData.java -text
src/test/java/org/gcube/common/homelibrary/performance/tool/MeasurementGraphGenerator.java -text
src/test/java/org/gcube/common/homelibrary/performance/tool/MeasurementSession.java -text
src/test/java/org/gcube/common/homelibrary/performance/tool/MeasurementSessionFactory.java -text
src/test/java/org/gcube/common/homelibrary/testdata/AbstractDataManager.java -text
src/test/java/org/gcube/common/homelibrary/testdata/TestDataFactory.java -text
src/test/java/org/gcube/common/homelibrary/testdata/TestDataManagerUtil.java -text
src/test/java/org/gcube/common/homelibrary/testdata/TwinDataManager.java -text
src/test/java/org/gcube/common/homelibrary/testdata/data/AbstractTestData.java -text
src/test/java/org/gcube/common/homelibrary/testdata/data/AquaMapItemData.java -text
src/test/java/org/gcube/common/homelibrary/testdata/data/DocMetadata.java -text
src/test/java/org/gcube/common/homelibrary/testdata/data/ImageDocumentData.java -text
src/test/java/org/gcube/common/homelibrary/testdata/data/PDFDocumentData.java -text
src/test/java/org/gcube/common/homelibrary/testdata/data/QueryData.java -text
src/test/java/org/gcube/common/homelibrary/testdata/data/ReportData.java -text
src/test/java/org/gcube/common/homelibrary/testdata/data/TemplateData.java -text
src/test/java/org/gcube/common/homelibrary/testdata/data/TestData.java -text
src/test/java/org/gcube/common/homelibrary/testdata/data/TimeSeriesData.java -text
src/test/java/org/gcube/common/homelibrary/testdata/data/UrlDocumentData.java -text
src/test/java/org/gcube/common/homelibrary/testdata/data/WorkflowReportData.java -text
src/test/java/org/gcube/common/homelibrary/testdata/data/WorkflowTemplateData.java -text
src/test/java/org/gcube/common/homelibrary/testdata/manager/AquaMapItemDataManager.java -text
src/test/java/org/gcube/common/homelibrary/testdata/manager/DocumentDataManager.java -text
src/test/java/org/gcube/common/homelibrary/testdata/manager/ImageDataManager.java -text
src/test/java/org/gcube/common/homelibrary/testdata/manager/MetadataDataManager.java -text
src/test/java/org/gcube/common/homelibrary/testdata/manager/PDFDataManager.java -text
src/test/java/org/gcube/common/homelibrary/testdata/manager/QueryDataManager.java -text
src/test/java/org/gcube/common/homelibrary/testdata/manager/ReportDataManager.java -text
src/test/java/org/gcube/common/homelibrary/testdata/manager/TemplateDataManager.java -text
src/test/java/org/gcube/common/homelibrary/testdata/manager/TimeSeriesDataManager.java -text
src/test/java/org/gcube/common/homelibrary/testdata/manager/UrlDataManager.java -text
src/test/java/org/gcube/common/homelibrary/testdata/manager/WorkflowReportDataManager.java -text
src/test/java/org/gcube/common/homelibrary/testdata/manager/WorkflowTemplateDataManager.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/AbstractWorkspaceTest.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/DefaultWorkspaceFactory.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/FolderTest.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/UnitTestUtil.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/WorkspaceFactory.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/WorkspaceItemTest.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/WorkspacePersistenceTest.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/WorkspaceTestSuite.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/test/WorkspaceTest.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/test/WorkspaceTestCloneMethods.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/test/WorkspaceTestCopyMethods.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/test/WorkspaceTestCreateDocumentMethods.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/test/WorkspaceTestCreateExternalMethods.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/test/WorkspaceTestFolderMethods.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/test/WorkspaceTestItemMethods.java -text
src/test/java/org/gcube/common/homelibrary/unittest/workspace/test/WorkspaceTestSharedFolders.java -text
